
.radiogroup {
    flex-grow: 1;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.radiogroup input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 0;
    width: 0;
    overflow: hidden;
}

.radiogroup label {
    display: block;
    flex-grow: 1;
    min-width: 75px;
    max-width: 125px;
    margin: 5px 5px 0 0;
    padding: 2px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.radiogroup label:hover {
    cursor: pointer;
}

.radiogroup input:checked + label {
    background-color: #4183C4;
}

.radio-box {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    flex-grow: 1;
    min-width: 250px;
    max-width: 350px;
}

.vertical-box {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.vertical-box .row.header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.vertical-box .row.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

.vertical-box .row.footer {
    flex-grow: 0;
    flex-shrink: 1;
}

.horizontal-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider-box {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    flex-grow: 1;
    min-width: 250px;
    max-width: 350px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    width: 100%;
    flex-grow: 1;
    height: 5px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4183C4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4183C4;
    cursor: pointer;
}

.render-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 96vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.renderer {
    width: 400px;
    height: 400px;
}
