<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/timeline.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/iconbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <div class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></div>
            <p class="site-description">{{ site.description }}</p>

            <div class="icon-bar">
              <a href="https://www.linkedin.com/in/leonicoletti" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="mailto:nicoletti.leo@gmail.com" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-envelope"></i>
              </a>
            </div>
          </div>

          <nav>
            <!-- <a href="{{ site.baseurl }}/blog">Blog</a> -->
            <a href="{{ site.baseurl }}/pdf/LeoNicoletti.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
            <a href="{{ site.baseurl }}/curriculum">CV</a>
            <a href="{{ site.baseurl }}/skills">Skills</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <div class="footer">
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
